.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

.samp {
  display : flex;
}

.disp {
  width : 100%;
}

.dropbox {
  border : 1px solid black;
  width : 100px;
  height: 35px;
  margin: 10px;
  padding: 10px;
}